@model Model.EF.Post

@{ ViewBag.Title = "EditPost";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<h2>EditPost</h2>

<div class="box">
    @using (Html.BeginForm("editPost", "AdPost", FormMethod.Post, new { @area = "Admin", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
         <div class="col-6">
             <a href="/admin/adpost/listpost" class="btn btn-info" style="display:inline-block">
                 Danh Sách Bài viết
             </a>
         </div>
        <div class="col-6">
            <div class="text-success" style="font-size:large">@ViewBag.success</div>
         </div>
        <div class="col-6">
            <label>Tiêu đề bài viết</label>
            <div class="form_control">
                <input required
                       name="Title"
                       type="text"
                       value="@Model.Title"
                       />
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-6">
            <label>Chủ đề</label>
            <div class="form_control">
                @Html.DropDownList("Chủ đề", new SelectList(ViewBag.listCata, "Id", "Title"), new { @Name = "CataId" })
            </div>
        </div>
        <div class="col-6">
            <label>Hình ảnh</label>
            <div class="form_control">
                <input type="file" name="fileUpload" />
            </div>
        </div>
        <div class="col-12">
            <label>Nôi dung</label>
            <div class="form_control">
                <textarea name="Content" rows="30">@Html.Raw(Model.Content)</textarea>
            </div>
        </div>
        <div class="col-6 col-12">
            <a href="">
                <button class="btn btn-success" type="submit">Sửa Bài viết</button>
            </a>
        </div>
    }
</div>
<script>tinymce.init({ selector: 'textarea' });</script>
