@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc
@{ ViewBag.Title = "ListProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
<div class="row">
    <div class="col-12">
        <!-- ORDERS TABLE -->
        <div class="box">
            <div class="box-header title">
                <h2>Danh sách sản phẩm</h2>

                <div>
                    <a href="/admin/adproduct/createproduct" class="btn btn-success" style="display:inline-block">
                        <i class="fa fa-plus-circle"></i>
                        Thêm mới SP
                    </a>
                    @*<a href="#" class="btn btn-danger" style="display:inline-block">
                        <i class="fa fa-trash"></i>
                        Xóa SP đã chọn
                    </a>*@
                </div>
            </div>
            <div class="row">
                <div class="col-4" style="margin-bottom:0">
                    @using (Html.BeginForm("ListProduct", "ADProduct", FormMethod.Get, new { @class = "navbar-search" }))
                    {
        <input type="text"
               name="searchString"
               class="navbar-search-input"
               placeholder="Tìm kiếm sản phẩm..."
               value="@ViewBag.searchString" />
                        <button type="submit"><i class="fas fa-search"></i></button>}
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th width="40px">
                            STT
                        </th>
                        <th width="80px"></th>
                        <th width="300px">Tên Sản Phẩm</th>
                        <th width="150px">Thương hiệu</th>
                        <th width="170px">Danh mục</th>
                        <th width="100px">Giá</th>
                        <th>Ngày tạo</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 1;}
                    @{ var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN"); }
                    @foreach (var item in Model)
                    {
        <tr>
            <td>@count</td>
                    @{ count++;}
            <td><img src="@item.ProductImages.FirstOrDefault().Image" width="50px" /></td>
            <td width="250px">@item.Name</td>
            <td>@item.Brand.Name</td>
            <td width="150px">@item.Category.Name</td>

            @if (item.Price == null)
            {
<td>@item.ProductAttributes.FirstOrDefault().Price</td> }
                else
                {
<td>@string.Format(info, "{0:0,0}", item.Price)đ</td>
}
            <td>@item.CreatedAt</td>
            <td>
                <a href="/admin/adproduct/editproduct/@item.Id" style="padding-left:15px">
                    <i class="fas fa-pencil-alt" style="color:dodgerblue"></i>
                </a>
                <a href="/admin/adproduct/deleteproduct/@item.Id" style="padding-left:15px" onclick="return confirm('Bạn có chắc chắc muốn xóa Sản phẩm này?\nID: @item.Id\nTên SP: @item.Name')">
                    <i class="fas fa-trash-alt" style="color:red"></i>
                </a>
            </td>
        </tr>}
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("ListProduct", new { page, @searchString = ViewBag.searchString }))
        </div>
    </div>
</div>
