@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12">
        <!-- ORDERS TABLE -->
        <div class="box">
            <div class="box-header title">
                <h2>Danh sách sản phẩm</h2>
                <div>
                    <a href="#" class="btn btn-success" style="display:inline-block">
                        <i class="fa fa-plus-circle"></i>
                        Thêm mới SP
                    </a>
                    <a href="#" class="btn btn-danger" style="display:inline-block">
                        <i class="fa fa-trash"></i>
                        Xóa SP đã chọn
                    </a>
                </div>
            </div>
            <div class="box-body overflow-scroll">
                <table>
                    <thead>
                        <tr>
                            <th width="100px">
                                Id
                                <br />
                                <input type="checkbox" id="checkAll" checked="checked" />Chọn tất cả
                            </th>
                            <th width="70px"></th>
                            <th width="300px">Tên Sản Phẩm</th>
                            <th width="150px">Thương hiệu</th>
                            <th width="170px">Danh mục</th>
                            <th width="100px">Giá</th>
                            <th width="80px">Lượt xem</th>
                            <th>Ngày tạo</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" class="checkItem" id="@item.Id" />
                                    @item.Id
                                </td>
                                <td><img src="@item.ProductImages.FirstOrDefault().Image" width="50px" /></td>
                                <td width="250px">@item.Name</td>
                                <td>@item.Brand.Name</td>
                                <td width="150px">@item.Category.Name</td>
                                @{
                                    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                }
                                @if (item.Price == null)
                                {
                                    <td>@item.ProductAttributes.FirstOrDefault().Price</td>
                                }
                                else
                                {
                                    <td>@string.Format(info, "{0:0,0}", item.Price)đ</td>
                                }
                                <td>@item.ViewCount</td>
                                <td>@item.CreatedAt</td>
                                <td>Sửa</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("ListProduct", new { page }))
            </div>
        </div>
    </div>
</div>
<script>
    $('#checkAll').click(function () {
        $(':checkbox.checkItem').prop('checked', this.checked);
    });
</script>

