@model Model.EF.Post
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="header-position"></div>
<section id="listPost">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="listPost_content">
                    <h5>@ViewBag.catelo</h5>
                    <h1>@Model.Title</h1>
                    <div class="entry-divider is-divider small"></div>
                    <div class="posted-on">
                        <p>Đăng ngày <span>@Model.CreatedAt.Value.ToString("dd/MM/yyyy")</span> </p>
                    </div>
                    <img class="img-fluid w-100"
                         src="@Model.Image"
                         alt="@Model.SiteTitle" />
                    <div class="listPost_context">
                        <p>
                           @Model.Content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="post__cate">
                    <h4>Chuyên mục bài viết</h4>
                    <ul>
                        @Html.Action("ListCatalog", "Post")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

