
@{
    ViewBag.Title = "ListPostByCatelog";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="header-position"></div>
<section id="listPost">
    <div class="container">
        <h1 class="text-center mb-4 title">Chuyên Mục @ViewBag.catelog</h1>
        <div class="row">

            <div class="col-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-6 mb-4">
                            <div class="post__item h-100" >
                                <a href="/Post/Detail/@item.Id" class="w-100">
                                    <img class="img-fluid"
                                         src="@item.Image"
                                         alt="" />
                                    <h4>@item.Title</h4>
                                </a>                              
                                <div class="post_content">
                                    @Html.Raw(@item.Content)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-3">
                <div class="post__cate">
                    <h4>Chuyên mục bài viết</h4>
                    <ul>
                        @Html.Action("ListCatalog", "Post")
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



