@model Model.EF.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/Layout.cshtml";
    var listProduct = (List<Model.EF.Product>)ViewBag.listRelatedProduct;
    var listAttributes = (List<Model.EF.ProductAttribute>)ViewBag.listAttributes;
}
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="header-position"></div>
<section id="detail">
    <div class="detail-info">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-6">
                    <div class="slide-for">
                        @foreach (var item in Model.ProductImages)
                        {
                            <div class="slide-for-item" style="overflow:hidden">
                                <img class="img-fluid"
                                     src="@item.Image"
                                     alt="" />
                            </div>
                        }


                    </div>
                    <div class="bg_slide-nav">
                        <div class="slide-nav">
                            @foreach (var item in Model.ProductImages)
                            {
                                <div class="slide-nav-item">
                                    <div class="slide-nav-item-img">
                                        <img class="img-fluid"
                                             src="@item.Image"
                                             alt="" />
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 pt-5 pl-5">
                    <div class="summary entry-summary">
                        <div class="breadcrumb-noheading">
                            <div class="breadcrumb">
                                <a href="/">Trang Chủ</a><i class="bx bxs-right-arrow"></i>
                                <a href="/thuong-hieu">@ViewBag.supCate</a><i class="bx bxs-right-arrow"></i>
                                <a href="/thuong-hieu">@ViewBag.Cate</a><i class="bx bxs-right-arrow"></i>
                                <a href="#">@ViewBag.subCate</a>

                            </div>
                        </div>
                        <div class="woocommerce-product-rating">
                            <div class="products__rating">
                                @{var soSaoSanPham = Model.Evaluate;}
                                @for (var i = 0; i < 5; i++)
                                {
                                    if ((int)soSaoSanPham / 1 == 5 || (int)soSaoSanPham / 1 == 4 || (int)soSaoSanPham / 1 == 3 || (int)soSaoSanPham / 1 == 2 || (int)soSaoSanPham / 1 == 1)
                                    {
                                        <i class="bx bxs-star"></i>
                                        soSaoSanPham--;
                                    }
                                    else if (soSaoSanPham % 1.0 == 0.5 && soSaoSanPham < 1)
                                    {
                                        <i class="bx bxs-star-half"></i>
                                        soSaoSanPham -= 0.5;
                                    }
                                    else
                                    {
                                        <i class="bx bx-star"></i>
                                    }
                                }
                                <span>(@Model.TotalEvaluate)</span>
                            </div>
                        </div>
                        <h1 itemprop="name" class="product_title entry-title">
                            @Model.Name
                        </h1>

                        <div class="price-single">
                            <ul>
                                @if (Model.Price == null)
                                {
                                    foreach (var item in listAttributes)
                                    {
                                        <li class="btn btn-outline-secondary" data-attribute-id="@item.Id"> @item.AttributeValue.Name - @item.Price</li>
                                    }

                                }


                            </ul>
                            <div>
                                <span>
                                    @if (@Model.Price == null)
                                    {
                                        <span class="price">@string.Format(info, "{0:0,0}", @Model.ProductAttributes.FirstOrDefault().Price) đ</span>
                                    }
                                    else
                                    {
                                        <span class="price">@string.Format(info, "{0:0,0}", @Model.Price) đ</span>
                                    }
                                </span>
                            </div>
                            <div class="product-lable"></div>
                        </div>
                        <div class="description">
                            <p>
                                @Model.Description
                            </p>
                        </div>
                        <form>
                            <div class="row">
                                <div class="quantity">
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepUp(); addAttribute();"
                                            type="button"
                                            class="plus">
                                        +
                                    </button>
                                    <input id="qty" type="number" value="1" min="1" max="" />
                                    <button onclick="this.parentNode.querySelector('input[type=number]').stepDown(); addAttribute();"
                                            type="button"
                                            class="minus">
                                        -
                                    </button>
                                </div>

                                @if (Model.Price != null)
                                {
                                    <a class=" btn add-cart add-cart-item" href="/them-gio-hang?productId=@Model.Id&quantity=1" onclick="add()"> Thêm Vào Giỏ Hàng </a>
                                    <a class="btn buy-cart buy-cart-item" href="/them-gio-hang?productId=@Model.Id&quantity=1" onclick="add()"> Mua Ngay </a>
                                }
                                else
                                {
                                    <a class=" btn add-cart add-cart-item" href="/them-gio-hang-theo-loai?productId=@Model.Id&quantity=1" onclick="addAttribute()"> Thêm Vào Giỏ Hàng </a>
                                    <a class="btn buy-cart buy-cart-item" href="/them-gio-hang-theo-loai?productId=@Model.Id&quantity=1" onclick="addAttribute()"> Mua Ngay </a>
                                }


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-description">
        <div class="container">
            <nav>
                <div class="nav nav-pills" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active"
                       id="nav-home-tab"
                       data-toggle="tab"
                       href="#nav-home"
                       role="tab"
                       aria-controls="nav-home"
                       aria-selected="true">Mô tả</a>
                    <a class="nav-item nav-link"
                       id="nav-profile-tab"
                       data-toggle="tab"
                       href="#nav-profile"
                       role="tab"
                       aria-controls="nav-profile"
                       aria-selected="false">Đánh giá</a>
                    <a class="nav-item nav-link"
                       id="nav-contact-tab"
                       data-toggle="tab"
                       href="#nav-contact"
                       role="tab"
                       aria-controls="nav-contact"
                       aria-selected="false">Contact</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active"
                     id="nav-home"
                     role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    @Model.Description
                </div>
                <div class="tab-pane fade"
                     id="nav-profile"
                     role="tabpanel"
                     aria-labelledby="nav-profile-tab">
                    Đánh giá?
                </div>
                <div class="tab-pane fade"
                     id="nav-contact"
                     role="tabpanel"
                     aria-labelledby="nav-contact-tab">

                    Liên Hệ
                </div>
            </div>
        </div>
    </div>
</section>
@if (listProduct.Count != 0)
{
    <section id="relatedProducts">
        <div class="container">
            <div class="relatedProducts-title w-100">
                <h2>Sản phẩm liên quan</h2>
            </div>
            <div>
                <div class="row justify-content-center">
                    @foreach (var item in listProduct)
                    {
                        <a href="#" class="col-3 relatedProducts-product">
                            <img class="img-fluid"
                                 src="@item.ProductImages.FirstOrDefault().Image"
                                 alt=""
                                 srcset="" />
                            <div class="products__rating">
                                @{var soSao = item.Evaluate;}
                                @for (var i = 0; i < 5; i++)
                                {
                                    if ((int)soSao / 1 == 5 || (int)soSao / 1 == 4 || (int)soSao / 1 == 3 || (int)soSao / 1 == 2 || (int)soSao / 1 == 1)
                                    {
                                        <i class="bx bxs-star"></i>
                                        soSao--;
                                    }
                                    else if (soSao % 1.0 == 0.5 && soSao < 1)
                                    {
                                        <i class="bx bxs-star-half"></i>
                                        soSao -= 0.5;
                                    }
                                    else
                                    {
                                        <i class="bx bx-star"></i>
                                    }
                                }
                                <span>(@item.TotalEvaluate)</span>
                            </div>
                            <h5>@item.Name</h5>
                            @if (@item.Price == null)
                            {
                                <span class="price">@string.Format(info, "{0:0,0}", @item.ProductAttributes.FirstOrDefault().Price) đ</span>
                            }
                            else
                            {
                                <span class="price">@string.Format(info, "{0:0,0}", @item.Price) đ</span>
                            }
                        </a>
                    }
                </div>
            </div>
        </div>
    </section>}

@if (Model.Price == null)
{
    <script>
        document.querySelector(".btn.btn-outline-secondary:first-child").classList.add("active");

    </script>
}
<script>

    function add() {

        var qty = document.getElementById("qty").value;
        document.querySelector(".add-cart-item").href = "/them-gio-hang?productId=" + @Model.Id + "&quantity=" + qty;
         document.querySelector(".buy-cart-item").href = "/them-gio-hang?productId=" + @Model.Id + "&quantity=" + qty;

    }
    function addAttribute() {
        var attribute = document.querySelector(".btn.btn-outline-secondary.active").dataset.attributeId;
        var qty = document.getElementById("qty").value;
        document.querySelector(".add-cart-item").href = "/them-gio-hang-theo-loai?productId=" + @Model.Id + "&quantity=" + qty + "&attribute=" + attribute;
        document.querySelector(".buy-cart-item").href = "/them-gio-hang-theo-loai?productId=" + @Model.Id + "&quantity=" + qty + "&attribute=" + attribute;

    }

        var chooseS = document.querySelectorAll(".btn.btn-outline-secondary");
        chooseS.forEach((e) => {
            e.addEventListener('click', (event) => {
                event.preventDefault();
                chooseS.forEach((ex) => {
                    ex.classList.remove("active")
                })
                e.classList.add("active")

            })
        })



</script>
@section ProductDetail{
<script>
    $(".slide-for").slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        centerMode: true,
        centerPadding: "60px",
        arrows: false,
        fade: true,
        asNavFor: ".slide-nav",
    });
    $(".slide-nav").slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        prevArrow: false,
        nextArrow: false,
        asNavFor: ".slide-for",
        dots: false,
        centerMode: false,
        focusOnSelect: true,
        centerPadding: "0px",
    });
</script>
}
