<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHIROUPET</title>
    <!-- BOOTSTRAP  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" href="~/Content/Client/img/logo-mb.png" />
    <!--FONT GOOGLE-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <!-- boxicons -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
          rel="stylesheet" />
    <!-- SLICK  CSS -->
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <link rel="stylesheet" href="~/Content/Client/css/index.css" />
    <!-- Start Header -->
    <!-- info css -->
    <link href="~/Content/Client/css/info.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="container-fluid header desktop">
        <div class="container h-100">
            <div class="header-bar mr-3">
                <a href="/">
                    <img width="210"
                         class="logo-with-name"
                         src="~/Content/Client/img/logo-lg.png"
                         alt="petStore" />
                </a>
                @* Start Menu*@
                @Html.Action("LoadMenu", "Home")
                @* End Menu*@
                @* Search Bar *@
                <div class="header-search-bar ml-3">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "input" }))
                    {
                        <input placeholder="Tìm kiếm trên Chợ Pet" maxlength="50" class="w-100 height-100 text-center" type="search" name="Keyword" value="" />
                    }
                    <div class="search-option">
                        <div class="wrap">
                            <span class="value-selected">
                                <i class='bx bx-search-alt'></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="nav ml-3 h-100">
                    @Html.Action("ViewCart", "Cart")
                    @{ var user = (PetStore.Models.Common.UserLogin)Session["USER"];}
                    @if (user == null)
                    {


                        <a class="link" href="/login">
                            <div class="link">
                                <div class="icon-wrap">
                                    <i class="bx bx-user"></i>
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="user-info pl-3">

                            <div class="img-user">
                                <img class="img-fluid" src="~/Content/Client/img/user-image.jpg" alt=""
                            </div>
                            <div class="user_dropdown">
                                <div class="my-2 p-0">
                                    <ul>
                                        <li><a href="/Login/ProfileCustomer">Thông tin tài khoản</a></li>
                                        <li>
                                            <a href="/Login/Order">Đơn hàng</a>
                                        </li>
                                        <li><a href="/Login/Logout">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }

                    @*Trường hợp đăng nhập xuất thông tin div phía dưới*@
                    @*<div class="user-info pl-3">
                            <div class="img-user">
                                <img class="img-fluid" src="img/user-image.jpg" alt="" />
                            </div>
                            <div class="user_dropdown">
                                <div class="my-2 p-0">
                                    <ul>
                                        <li><a href="">Thông tin tài khoản</a></li>
                                        <li>
                                            <a href="">Đơn hàng</a>
                                        </li>
                                        <li><a href="">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->
    <!-- BEGIN MAIN-CONTENT  -->
    <div class="main-content">
        @RenderBody()
    </div>

    <!-- END MAIN-CONTENT  -->
    <footer>
        <div class="footer-about w-100">
            <div class="container">
                <div class="row">
                    <div class="col-3 footer-contact">
                        <img class="w-75 mb-3" src="~/Content/Client/img/logo-lg.png" alt="" />
                        <p>
                            Nếu bạn có bất kì câu hỏi nào, hãy liên hệ với chúng tôi quá địa
                            chỉ <span class="footer-email">support@example.</span>
                        </p>
                        <div class="footer-address mb-3">
                            <i class="bx bx-map"></i>
                            <p class="">
                                702 Xã Lộ Hà Nội, phường Hiệp Phú, quận 9, TP.HCM
                            </p>
                        </div>
                        <div class="footer-address mb-3">
                            <i class="bx bx-mobile"></i>
                            <p class="">(+84) 369143286</p>
                        </div>
                        <div class="footer-social mb-3">
                            <a href="#" class="footer-social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="footer-social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-3 footer-item">
                        <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                        <p>Liên hệ hỗ trợ</p>
                        <p>Những câu hỏi thường gặp</p>
                        <p>Chính sách bảo mật thông tin</p>
                        <p></p>
                    </div>
                    <div class="col-3 footer-item">
                        <h4>Về chúng tôi</h4>
                        <p>Giới thiệu</p>
                        <p>Tuyển dụng</p>
                        <p>Quy chế hoạt động</p>
                        <p></p>
                    </div>
                    <div class="col-3 footer-item">
                        <h4>Dịch vụ</h4>
                        <p>Spa cho thú cưng</p>
                        <p>Huấn luyện chó</p>
                        <p>Nhận chăm sóc thú cưng</p>
                        <p>Chữa bệnh thú cưng</p>
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="m-0">
                2021 © Shiroupet /
                <a href="https://www.facebook.com/truongbien.qh">Web design by <span> Zuradel</span></a>
            </p>
        </div>
    </footer>
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "110928377946240");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- BOOTSTRAP 4 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- SLICK -->
    <script type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>



    <script>

        const user_info = document.querySelector(".user-info");
        const user_dropdown = document.querySelector(".user_dropdown");
        user_info.addEventListener("mouseenter", () => {
            user_dropdown.classList.add("active");
        });
        user_info.addEventListener("mouseleave", () => {
            user_dropdown.classList.remove("active");
        });
    </script>


    @RenderSection("scripts", required: false)
    @RenderSection("ProductDetail", required: false)
</body>
</html>
