@model PagedList.IPagedList<Model.EF.Post>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ListPost";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <!-- Post TABLE -->
        <div class="box">
            <div class="box-header"><h3>Danh sách các bài viết:</h3></div>
            <div class="box-body overflow-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Tên bài viết</th>
                            <th>Loại bài viết</th>
                            <th>Ảnh bìa</th>
                            <th>Nội dung</th>
                            <th>Ngày viết</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.ActionLink("Sửa", "EditPost", new { Post_ID = item.Id })</td>
                                <td>@item.Title</td>
                                <td>@item.Catalog.Title</td>
                                <td><img src=" @item.Image" width="80px" /></td>
                                <td>@item.Content</td>
                                <td>@item.CreatedAt</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("ListPost", new { page }))
            </div>
        </div>
    </div>
    <!-- END ORDERS TABLE -->
</div>
</div>

